.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  margin-bottom: 20px;
}

.back {
  display: flex;
  position: absolute;
  align-items: center;
  top: 110px;
  align-self: flex-start;
  font-size: 20px;
  color: white;
}

.backCarrot {
  margin-right: 5px;
  font-size: 30px;
}

.back:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.formRow {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}

.input,
.squeezedInput {
  display: flex;
  padding-left: 24px;
  border-radius: 15px;
  border: none;
  font-family: "Comfortaa";
  font-size: 20px;
}

.input {
  flex-direction: column;
  width: 476px;
  height: 60px;
}

.squeezedInput {
  width: 211px;
  height: 60px;
}

.input::placeholder,
.squeezedInput::placeholder {
  color: #b8b9cc;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  width: 200px;
  height: 60px;
  border-radius: 15px;
  border: none;
  font-family: "Comfortaa";
  font-size: 35px;
  background-color: #47e5bc;
  color: #ffffff;
}
